{{!-- list an arbitrary object graph to display all of whatever npm returns --}}
{{!--
<div class="list-object">
  {{list-value value=model}}
</div>
--}}

{{!-- list something more specific --}}
{{show-package package=model}}
